*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #4b0853;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 20px;
    color: #4b0853;
    background-color: #939c60;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 20px;
    color: #4b0853;
    background-color: #939c60;
    border: none;
}

#msg{
    font-size: 10vmin;
    color: #cbcf05;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem
}

.hide{
    display: none;
}